<section class="categories">
    <div class="section-header">
        <h2>Explorar Categorías</h2>
        <a href="#" class="view-all">Ver todas <i class="fas fa-arrow-right"></i></a>
    </div>
    <div class="category-grid">
        <article class="category-card">
            <a href="http://">
                <div class="category-content">
                    <h2>Carnes</h2>
                    <div class="category-recipies">
                        <span>1,234 recetas</span>
                    </div>
                </div>
            </a>
        </article>
        <article class="category-card">
            <a href="http://">
                <div class="category-content">
                    <h2>Carnes</h2>
                    <div class="category-recipies">
                        <span>1,234 recetas</span>
                    </div>
                </div>
            </a>
        </article>
        <article class="category-card">
            <a href="http://">
                <div class="category-content">
                    <h2>Carnes</h2>
                    <div class="category-recipies">
                        <span>1,234 recetas</span>
                    </div>
                </div>
            </a>
        </article>
        <article class="category-card">
            <a href="http://">
                <div class="category-content">
                    <h2>Carnes</h2>
                    <div class="category-recipies">
                        <span>1,234 recetas</span>
                    </div>
                </div>
            </a>
        </article>
        <article class="category-card">
            <a href="http://">
                <div class="category-content">
                    <h2>Carnes</h2>
                    <div class="category-recipies">
                        <span>1,234 recetas</span>
                    </div>
                </div>
            </a>
        </article>
        <article class="category-card">
            <a href="http://">
                <div class="category-content">
                    <h2>Carnes</h2>
                    <div class="category-recipies">
                        <span>1,234 recetas</span>
                    </div>
                </div>
            </a>
        </article>
    </div>
</section>