{% extends "base.html" %}
{% load static %}
{% block title %} Tasty Bites - Recipes{% endblock%}

{% block content %}
    {% include "recipes/includes/header_recipes.html" %}
    {% include "recipes/includes/recipes_filter.html" %}
    {% include "recipes/includes/recipes_cards.html" %}
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const select = document.getElementById('sort-recipes');

            // 1. Detectar el cambio en el select
            select.addEventListener('change', function() {
                const value = this.value;
                
                // 2. Obtener la URL actual y manipular los parámetros
                const url = new URL(window.location.href);
                
                // Seteamos el parámetro 'sort' con el valor del select
                url.searchParams.set('sort', value);
                
                // 3. Redirigir a la nueva URL (Esto dispara la vista en Django)
                window.location.href = url.toString();
            });

            // 4. Mantener la opción seleccionada después de que la página recargue
            const currentParams = new URLSearchParams(window.location.search);
            const activeSort = currentParams.get('sort');
            
            if (activeSort) {
                select.value = activeSort;
            }
        });
    </script>
{% endblock content %}
