/* GENERAL STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Geist Sans", sans-serif;
  font-size: 19px;
  font-weight: lighter;
}

body {
  opacity: 1;

}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

