<nav class="sticky top-0 z-50 w-full glass-header">
  <div class="max-w-7xl mx-auto px-6 py-4">
    <div class="flex items-center justify-between">
      <a class="flex items-center gap-3 group" href="{% url "core:index" %}">
        <div
          class="bg-primary/10 p-2 rounded-xl text-primary group-hover:bg-primary group-hover:text-white transition-all duration-300 transform group-hover:rotate-12"
        >
          <span class="material-symbols-outlined text-2xl"
            >restaurant_menu</span
          >
        </div>
        <span
          class="text-2xl font-bold tracking-tight text-charcoal dark:text-white font-logo"
          >Tasty Bites</span
        >
      </a>
      <div class="hidden md:flex items-center gap-12">
        <a href="{% url "core:index" %}"
          class="nav-link {% if request.resolver_match.url_name == "index" %}active{% endif %}">
          Inicio
        </a>
        <a href="{% url "recipes:recipes" %}"
          class="nav-link {% if request.resolver_match.url_name == "recipes" %}active{% endif %}">
        Recetas
        </a>
        <a href="{% url "recipes:categories" %}"
          class="nav-link {% if request.resolver_match.url_name == "categories" %}active{% endif %}">
        Categorías
        </a>
        <a href="{% url "core:about" %}"
          class="nav-link {% if request.resolver_match.url_name == "about" %}active{% endif %}">
          Nosotros
        </a>
      </div>
      <div class="flex items-center gap-2">
        <div class="flex items-center gap-4">
          <button
            class="p-2 rounded-full hover:bg-black/5 dark:hover:bg-white/10 transition-colors text-charcoal dark:text-white flex items-center justify-center"
            onclick="document.documentElement.classList.toggle('dark')"
            title="Cambiar modo"
          >
            <span class="material-symbols-outlined dark:hidden text-[22px]"
              >dark_mode</span
            >
            <span
              class="material-symbols-outlined hidden dark:block text-[22px]"
              >light_mode</span
            >
          </button>
          <button class="hidden lg:block login-link">Inicia Sesión</button>
        </div>
        <button
          class="px-8 py-2.5 bg-primary hover:bg-primary-hover text-white text-sm font-bold rounded-full shadow-lg shadow-primary/20 transition-all duration-300 transform hover:-translate-y-0.5 hover:shadow-button-lift dark:shadow-orange-900/20"
        >
          Regístrate
        </button>
      </div>
    </div>
  </div>
</nav>
