<section class="bg-background-light bg-soft-gray/30  dark:bg-background-dark py-20 px-6">
    <div class="max-w-7xl mx-auto">
        <div class="grid lg:grid-cols-3 gap-16">
            <!-- Left Column: Instructions -->
            <div class="lg:col-span-2 space-y-12">
                <div>
                    <h3 class="font-serif text-3xl text-slate-900 dark:text-white mb-8 flex items-center gap-4">
                        <span
                            class="bg-primary/10 text-primary w-12 h-12 rounded-full flex items-center justify-center text-xl font-bold font-display"><span
                                class="material-symbols-outlined text-2xl">restaurant</span></span>
                        Instructions
                    </h3>
                    <div class="space-y-8">
                        <div class="flex gap-6 group">
                            {% for instruction in instructions %}
                                <div class="flex-shrink-0 mt-1">
                                <input
                                    class="w-6 h-6 rounded-md border-slate-300 text-primary focus:ring-primary transition-all cursor-pointer"
                                    type="checkbox" />
                                </div>
                                <div class="space-y-2">
                                    <p class="font-bold text-slate-900 dark:text-white text-lg">{{instruction.title}}</p>
                                    <p class="text-slate-600 dark:text-slate-400 leading-relaxed">
                                    {{instruction.description}}
                                    </p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- Right Column: Sidebar Ingredients -->
            <div class="lg:col-span-1 ">
                <div class="bg-white shadow-xl dark:bg-slate-800/50 rounded-3xl p-8 sticky top-28">
                    <h3 class="font-serif text-2xl text-slate-900 dark:text-white mb-6">Ingredients</h3>
                    <ul class="space-y-4">
                        {% for ingredient in ingredients %}
                            <li class="flex items-center justify-between pb-3 border-b border-slate-200 dark:border-slate-700">
                                <div class="flex items-center gap-3">
                                    <input class="w-5 h-5 rounded text-primary focus:ring-primary" type="checkbox" />
                                    <span class="dark:text-slate-300">{{ingredient.name}}</span>
                                </div>
                                <span class="font-bold text-slate-900 dark:text-white">{{ingredient.quantity}}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>