<section
    class="bg-background-light bg-soft-gray/30 dark:bg-slate-900/30 px-6 animate-reveal py-24 border-t border-gray-100">
    <div class="mx-auto space-y-12 max-w-7xl">
        <div class="flex items-center justify-between">
            <h3 class="font-serif text-3xl text-slate-900 dark:text-white mb-3 flex items-center gap-4">
                <span
                    class="bg-primary/10 text-primary w-12 h-12 rounded-full flex items-center justify-center text-xl font-bold font-display"><span
                        class="material-symbols-outlined text-2xl">forum</span></span>
                Comentarios (23)
            </h3>

        </div>
        <!-- Add Comment Input -->
        <div class="glass p-8 rounded-2xl border border-slate-100 shadow-md flex gap-4">
            <div class="size-12 rounded-full bg-white overflow-hidden flex-shrink-0">
                <img class="w-full h-full object-cover" data-alt="User avatar placeholder for comments"
                    src="https://lh3.googleusercontent.com/aida-public/AB6AXuB0BMcRvDn2IM42KmcXbgzq9UWNvPd1EL7_Xmyu-6Cy9unVsqdm514T7vdUp6WNS-WBpQ5Hsux0ONAxdB9XVGnaQ8SMBFxIuU1GJZNdy9DXZlH6HWvHdz85WCey8_zsqzVBO7nxdEmyhHc4LgQk7t5hjZE2BuWU8xv8lTYvz0cC9l9ZgKvErpGDYfyJTy5zyc3yB-WWnVavzhaAzpQfLab1uJX74Z6kTmeVXRC2yP1PM3qFp3Ca4kgteT3TCx5fO4jugM_5cvAlAX8" />
            </div>
            <div class="flex-grow space-y-4">
                <textarea
                    class="w-full bg-white dark:bg-slate-800 border-slate-200 dark:border-slate-700 rounded-xl p-4 text-sm focus:ring-primary focus:border-primary"
                    style="resize: none;" placeholder="Join the conversation..." rows="3"></textarea>
                <div class="flex justify-end">
                    <button class="btn-action px-8 py-2 rounded-full font-bold text-sm shadow-sm">Añadir
                        Comentario</button>
                </div>
            </div>
        </div>
        <!-- Comment List -->
        <div class="space-y-6">
            <div
                class="flex gap-4 bg-white dark:bg-slate-800/50 rounded-2xl border border-slate-100  dark:border-slate-700/50 shadow-md animate-reveal p-8">
                <div class="size-12 rounded-full overflow-hidden bg-slate-200 flex-shrink-0">
                    <img class="w-full h-full object-cover" data-alt="Female user profile picture"
                        src="https://lh3.googleusercontent.com/aida-public/AB6AXuDCNjjGXcePEl-qrHFTfXLs6tZKQuSzdLEmRce7M1gwmvOqteE54m8BjPh2yK5l9SmtEL2lKWmNmA4Ttgkxxyhg9KCUhB11pA2HRY6OkfxRCO4I1Timfaj5nAMAY03ZeIo-57d0StYJDF5xngepUkEE1-iSBibWQwCcz60mE-wJS54gk0WlC3jgNAaAShyONzBXfWXdOrLCeB9K879f88tjFndt3nN7znfsuKXx-VZxK27qwxHSm94zgZvemCPrQwQlhEZ7dy4fYbE" />
                </div>
                <div class="space-y-2">
                    <div class="flex items-center gap-3">
                        <p class="font-bold text-slate-900 dark:text-white">Emma Thompson</p>
                        <span class="text-xs text-slate-400">2 days ago</span>
                    </div>
                    <p class="text-slate-600 dark:text-slate-400 leading-relaxed">
                        Made this last night for my dinner party and everyone was blown away. The ricotta mixture is the
                        perfect consistency!
                    </p>
                    <div class="flex items-center gap-4 text-sm">
                        <button class="text-slate-400 hover:text-primary flex items-center gap-1">
                            <span class="material-symbols-outlined text-sm">thumb_up</span> 12
                        </button>
                        <button class="text-slate-400 hover:text-primary">Reply</button>
                    </div>
                </div>
            </div>
            <div
                class="flex gap-4 bg-white dark:bg-slate-800/50 rounded-2xl border border-slate-100 dark:border-slate-700/50 shadow-md animate-reveal p-8">
                <div class="size-12 rounded-full overflow-hidden bg-slate-200 flex-shrink-0">
                    <img class="w-full h-full object-cover" data-alt="Male user profile picture"
                        src="https://lh3.googleusercontent.com/aida-public/AB6AXuDURjS9Y1zZ2oeyk8_bMs3MVA_hju41OoOyQr0DJqEdjFIzWDXYc0gjLEO6FgzzMrGnq3o4P4MQSznBKlMBVErmf4C60E0qtY1_ZvV8lD5aFw_8Vwqv4O-eSaRJNJwJBnfknQ3iTjFwaiPNAFj4wp-vEzcrVCLLgJH8r8SYfnlVvWqBj-AtTHVlX2BDbNN7BSZezEsf0W0zEWfP5B-6QiOPmUWO1-hG2DqKrH1MRfgat1c9EAb9suh8b3TS8LA7fjpyqyGsznSf1Js" />
                </div>
                <div class="space-y-2">
                    <div class="flex items-center gap-3">
                        <p class="font-bold text-slate-900 dark:text-white">Marco Rossi</p>
                        <span class="text-xs text-slate-400">1 week ago</span>
                    </div>
                    <p class="text-slate-600 dark:text-slate-400 leading-relaxed">
                        As an Italian, I approve this recipe! The secret is definitely in simmering the sauce for that
                        full 30 minutes. Well done Sofia.
                    </p>
                    <div class="flex items-center gap-4 text-sm">
                        <button class="text-slate-400 hover:text-primary flex items-center gap-1">
                            <span class="material-symbols-outlined text-sm">thumb_up</span> 45
                        </button>
                        <button class="text-slate-400 hover:text-primary">Reply</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>