{% extends "base.html" %}
{% load static %}
{% block title %} Tasty Bites - Nosotros{% endblock%}
{% block content %}

    {% include "about/includes/header_about.html" %}
    {% include "about/includes/our_mission.html" %}
    {% include "about/includes/manifest.html" %}
    {% include "about/includes/founder.html" %}
    {% include "about/includes/our_heroes.html" %}

{% endblock content %}

{% block extra_js %}
    <script src="{% static 'core/js/about.js' %}"></script>
{% endblock extra_js %}

