/*Hero Styles*/
.hero {
  text-align: center;
  padding: 6rem 2rem;
  background: linear-gradient(135deg, #fa709a 0%, #fee140 100%);
}

.hero h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.hero p {
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

.search-bar {
  display: flex;
  max-width: 600px;
  margin: 0 auto 20px;
  overflow: hidden;
  border-radius: 50px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.search-bar input {
  flex: 1;
  padding: 15px 20px;
  border: none;
  outline: none;
  font-size: 16px;
}

.search-bar button {
  background-color: #ea580c;
  color: white;
  border: none;
  padding: 0 25px;
  cursor: pointer;
  font-size: 18px;
  align-items: center;
  transition: transform 0.8s ease;
  -webkit-transition: transform 0.8s ease;
  -moz-transition: transform 0.8s ease;
  -ms-transition: transform 0.8s ease;
  -o-transition: transform 0.8s ease;
}

.search-bar button i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.search-bar button:hover i {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.popular-tags {
  display: flex;
  justify-content: center;
  gap: 0.8rem;
  margin: 2rem 0;
}

.popular-tags a {
  background: rgba(255, 255, 255, 0.2);
  font-size: 0.8rem;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  cursor: pointer;
  transition: background 0.3s ease;
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  -ms-transition: background 0.3s ease;
  -o-transition: background 0.3s ease;
}

.popular-tags a:hover {
  background: rgba(255, 255, 255, 0.4);
  transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
}