<section class="py-20 px-6 max-w-7xl mx-auto">
    <div class="flex flex-col md:flex-row justify-between items-end mb-12 gap-6">
        <div>
            <h2 class="text-3xl font-bold font-serif mb-2 text-center md:text-left">Explorar por Tipo</h2>
            <p class="text-zinc-500 dark:text-zinc-400">Mostrando <strong>{{categories_list.count}}</strong> categorías populares</p>
        </div>
        <div
            class="flex gap-2 bg-zinc-100 dark:bg-zinc-900 p-1.5 rounded-xl border border-zinc-200 dark:border-zinc-800">
            <button
                class="p-2.5 rounded-lg text-zinc-400 transition-all duration-300 flex items-center justify-center hover:text-primary active-view-btn"
                id="btn-grid">
                <span class="material-symbols-outlined">grid_view</span>
            </button>
            <button
                class="p-2.5 rounded-lg text-zinc-400 transition-all duration-300 flex items-center justify-center hover:text-primary"
                id="btn-list">
                <span class="material-symbols-outlined">format_list_bulleted</span>
            </button>
        </div>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8 transition-all duration-500" id="recipe-container">
        {% for category in categories_list  %}
            <article class="card-recipe scroll-reveal group" style="animation-delay: 0.1s">
                <div class="relative h-64 overflow-hidden card-img-container transition-all duration-500 shrink-0">
                    <img alt="Entrantes"
                        class="absolute inset-0 w-full h-full object-cover transition-transform duration-700 group-hover:scale-110"
                        src="{{category.image.url}}" />
                    <div class="absolute inset-0 bg-gradient-to-t from-black/80 via-black/20 to-transparent"></div>
                    <div
                        class="absolute top-4 right-4 bg-white/90 dark:bg-zinc-900/90 backdrop-blur-md px-3 py-1.5 rounded-full flex items-center gap-1.5 shadow-sm z-10">
                        <span class="material-symbols-outlined text-orange-500 text-sm fill-1">favorite</span>
                        <span class="text-xs font-bold dark:text-white">{{category.total_favorites}}405</span>
                    </div>
                </div>
                <div class="p-6 text-center card-content transition-all duration-500 flex flex-col flex-grow">
                    <h3 class="text-xl font-bold mb-2 font-serif group-hover:text-primary transition-colors">
                        {{category.name}}
                    </h3>
                    <p class="text-zinc-500 dark:text-zinc-400 text-sm mb-6 line-clamp-2">
                        {{category.description }}
                    </p>
                    <div class="flex items-center justify-between card-stats w-full mt-auto">
                        <span class="text-xs font-bold text-zinc-400 uppercase tracking-widest">{{category.total_recipes}} {% if category.total_recipes == 1 %}RECETA{% else %}RECETAS{% endif %}</span>
                        <button class="btn-action">Explorar</button>
                    </div>
                </div>
            </article>
        {% endfor %}
    </div>
</section>